.drag_drop_container {
   border-radius: 6px;
}

.droppable {
   border-radius: 6px;
   background: #d4d4d4;
   min-height: 300px;
}

.list {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-gap: 8px;
}

.drag_item {
   padding: 10px;
   border-radius: 6px;
   box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
   background: white;
   margin: 0 0 8px 0;
   display: grid;
   grid-gap: 20px;
   flex-direction: column;
}
