header {
   background-color: #f5f5f5;
   text-align: center;
   box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

header .create_todo_btn {
   background-color: var(--main-color);
   border: none;
   padding: 10px;
   font-size: 16px;
   cursor: pointer;
}
header .create_todo_btn:hover {
   background-color: var(--dark-color) !important;
}
header .user {
   font-size: 18px;
}
header .username {
   color: var(--black-color);
   font-size: 20px;
   font-weight: 500;
}
header .logout {
   font-size: 20px;
   cursor: pointer;
}

.drag_drop_container {
   border-radius: 6px;
}

.droppable {
   border-radius: 6px;
   background: #d4d4d4;
   min-height: 300px;
}

.list {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-gap: 8px;
}

.drag_item {
   padding: 10px;
   border-radius: 6px;
   box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
   background: white;
   margin: 0 0 8px 0;
   display: grid;
   grid-gap: 20px;
   flex-direction: column;
}

.controllers em {
   cursor: pointer;
}
